<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container text-center">
		<h2>Beijing Opera Performers</h2>
		<img src="/images/performer.jpg" class="img-rounded img-responsive" title="Li Haiyan" />
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Performer List</h2>
			<p>
				<a class="btn btn-default" href="#/performers" role="button">Click
					Here! &raquo;</a>
			</p>
		</div>
	</div>
	<hr>
	<footer>
		<p> </p>
	</footer>
</div>
<!-- /container -->
